@tailwind base;
@tailwind components;
@tailwind utilities;



@layer components {
    .green{
      @apply text-green-600;
    }
  }
  @layer components {
    .mycontainer {
      @apply container px-40 py-16 mx-auto t ;
    }
  }

  @media  screen and (max-width: 350px) {
    .over{
      overflow-x: scroll;
      
    }
    .width{
      width: 75%;
      margin-left: 20vw;
      margin-right: 0vw;
    }

    .w1{
      width: 35vw;
    }

    .w2{
      width: 20vw;
    }
  
    
    
  }

   @media  screen and (max-width: 300px){
 .mar{
      margin-left: 30vw;

   }
   .sm{
    font-size: 14px;
   }
   }

    @media  screen and (max-width: 400px){
      
      .pad{
padding-left: 5vw;
padding-right: 5vw;
      }
    }
    @media  screen and (max-width: 485px){
      .col{
        flex-direction: column;
      }

      .hid{
        display: none;

      }
      .show{
        display: block;
      }
      .fl{
        display: flex;
      }
      .pad1{
        
        padding-right: 4rem;
      }
    }
    @media  screen and (min-width: 525px){
     
      .hid1{
        display: none;

      }
    }
    @media  screen and (max-width: 320px){
     
     .gap2{
      gap: 0.5rem;
     }
    }
   
     @media  screen and (max-width: 525px){
     
    .hidd{
      display: none;
    }
    }


    body{
      background: url("fallback.png");
      object-fit: cover;
        /* no-repeat center center fixed; */
    }